__pycache__/
*.pyc
env/
temp_*
data
node_modules/
.env
.venv/
.gradio/ 
package-lock.json
yarn.lock
.DS_Store
package.json
env
.cache
__pycache__
capybarahermes-2.5-mistral-7b.Q4_K_M.gguf

# Ignore environments and build files
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
node_modules/
.gradio/
.env
.env.*
*.sqlite3
yarn.lock
data/
.DS_Store
